@import url("./constants.css");

.communities-image {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--sidebar-profile-body);
}

.communities-body {
  background-color: var(--communities-body);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  overflow: scroll;
}

.communities-body h1 {
  color: var(--primary-strong);
  font-size: 24px;
  font-weight: 700;
  margin: 1rem 0;
}

.communities-body p {
  color: var(--text-secondary);
  text-align: center;
  line-height: 1.55rem;
  margin: 1rem auto;
  width: 90%;
}
