:root {
  /* Box Shadow */
  --box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  --chat-message-box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.15);
  --block-notification-box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.15);
  --popover-box-shadow: 0 2px 5px 0 rgba(11, 20, 26, 0.26),
    0 2px 10px 0 rgba(11, 20, 26, 0.16);
  --login-form-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

  /* Color */
  --app-background-color-1: #dadbd3;
  --app-background-color-2: #00a884;
  --red: #f15c6d;
  --teal: #008069;
  --button: #0a8d48;
  --link-color: #53bdeb;
  --highlights: #00a884;

  /* Width */
  --panel-width: 400px;
}

#light {
  /* App */
  --app-background: repeating-linear-gradient(
    var(--app-background-color-1) 15%,
    var(--app-background-color-2) 1000%
  );

  /* Home */
  --home-background: #eff2f5;
  --home-border-bottom: #23d366;

  /* Sidebar */
  --sidebar-header-background: #eff2f5;
  --sidebar-background: #fff;
  --sidebar-search-background: #eff2f5;
  --sidebar-chat-background: #fff;
  --sidebar-chat-background-hover: #eff2f5;
  --sidebar-chat-timestamp: #23d366;
  --sidebar-check-network: #ffd279;

  /* Sidebar profile */
  --sidebar-profile-body: #eff2f5;
  --sidebar-profile-list: #fff;

  /* Sidebar panel */
  --sidebar-panel-header-background: var(--teal);
  --sidebar-panel-background: #eff2f5;
  --sidebar-panel-header-text: #fff;

  /* Communities */
  --communities-body: #fff;
  --communities-button-text: #fff;
  --communities-button-background: #008069;
  --communities-button-hover: #017561;

  /* New chat */
  --new-chat-body: #fff;
  --new-chat-hover: #eff2f5;

  /* Settings */
  --settings-body: #fff;
  --settings-user-info: #eff2f5;
  --settings-user-info-hover: #eff2f5;
  --settings-list-hover: #eff2f5;

  /* Notifications */
  --notifications-body: #eff2f5;
  --notifications-list: #fff;

  /* Privacy */
  --privacy-body: #eff2f5;
  --privacy-list: #fff;

  /* Security */
  --security-body: #fff;

  /* ChatWallpaper */
  --chat-wallpaper-body: #eff2f5;
  --chat-wallpaper-list-item-hover: #ffffff;

  /* Account info */
  --account-info-body: #eff2f5;

  /* Help */
  --help-body: #eff2f5;
  --help-list: #fff;
  --help-list-hover: #f5f6f6;

  /* Sidebar panel right */
  --sidebar-panel-right-header: #eff2f5;
  --contact-info-body: #fff;

  /* Search messages */
  --search-messages-body: #fff;
  --search-message-search-input: #eff2f5;
  --searched-text: #667681;

  /* Starred messages */
  --starred-messages-body: #eff2f5;
  --starred-message-hover: #e6e9ec;

  /* Popover */
  --popover: #fff;
  --popover-hover: #f5f6f6;
  --popover-text: #3b4a54;

  /* Chat */
  --chat-header: #eff2f5;
  --chat-message-row: rgba(0, 128, 105, 0.08);
  --chat-message-sent: #d9fdd2;
  --chat-message-received: #fff;
  --chat-message-document: #eff2f5;
  --chat-message-sent-document: #d1f4cc;
  --chat-footer: #eff2f5;
  --chat-footer-blocked: #eff2f5;
  --chat-input: #fff;
  --emoji-picker-background: #eff2f5;
  --emoji-search: #e9edef;

  /* Encryption */
  --encryption-body: #eff2f5;
  --encryption-code: #3b4a54;
  --encryption-btn-text: #fff;
  --encryption-btn: #008069;
  --encryption-btn-hover: #017561;

  /* Disappearing messages */
  --disappearing-messages-body: #fff;

  /* Webcam */
  --webcam-header: #008069;

  /* Loader */
  --loader-background: #eff2f5;

  /* Login */
  --login-background: #eff2f5;
  --login-box: #fff;

  /* Border color */
  --border-bottom-color: #eff2f5;
  --border-right-color: #effef5;
  --border-left-color: #effef5;

  /* Border */
  --border-bottom: 1px solid var(--border-bottom-color);
  --border-right: 1px solid var(--border-right-color);
  --border-left: 1px solid var(--border-left-color);

  /* Text */
  --primary-strong: #111b21;
  --secondary-strong: #384145;
  --text-secondary: #3b4a54;
  --text-muted: #3b4a54;
  --white: #fff;
}

#dark {
  /* App */
  --app-background: repeating-linear-gradient(
    var(--app-background-color) 15%,
    var(--app-background-color) 100%
  );

  /* Home */
  --home-background: #212e35;
  --home-border-bottom: #04a784;

  /* Sidebar */
  --sidebar-header-background: #212e35;
  --sidebar-background: #111b21;
  --sidebar-search-background: #212e35;
  --sidebar-chat-background: #111b21;
  --sidebar-chat-background-hover: #1f2c33;
  --sidebar-chat-timestamp: #04a784;
  --sidebar-check-network: #182229;

  /* Sidebar profile */
  --sidebar-profile-body: #111b21;
  --sidebar-profile-list: #111b21;

  /* Sidebar panel */
  --sidebar-panel-header-background: #212e35;
  --sidebar-panel-background: #111b21;
  --sidebar-panel-header-text: #fff;

  /* Communities */
  --communities-body: #111b21;
  --communities-button-text: #111b21;
  --communities-button-background: #00a884;
  --communities-button-hover: #03cf9c;

  /* New chat */
  --new-chat-body: #111b21;
  --new-chat-hover: #1f2c33;

  /* Settings */
  --settings-body: #111b21;
  --settings-user-info: #111b21;
  --settings-user-info-hover: #212e35;
  --settings-list-hover: #212e35;

  /* Notifications */
  --notifications-body: #111b21;
  --notifications-list: #111b21;

  /* Privacy */
  --privacy-body: #0c1318;
  --privacy-list: #111b21;

  /* Security */
  --security-body: #111b21;

  /* ChatWallpaper */
  --chat-wallpaper-body: #111b21;
  --chat-wallpaper-list-item-hover: #3b4a54;

  /* Account info */
  --account-info-body: #111b21;

  /* Help */
  --help-body: #111b21;
  --help-list: #111b21;
  --help-list-hover: #1f2c33;

  /* Sidebar panel right */
  --sidebar-panel-right-header: #1f2c33;
  --contact-info-body: #111b21;

  /* Search messages */
  --search-messages-body: #111b21;
  --search-message-search-input: #1f2c33;
  --searched-text: #8696a0;

  /* Starred messages */
  --starred-messages-body: #111b21;
  --starred-message-hover: rgba(134, 150, 160, 0.15);

  /* Popover */
  --popover: #233138;
  --popover-hover: #182229;
  --popover-text: #fff;

  /* Chat */
  --chat-header: #1f2c33;
  --chat-message-row: rgba(233, 237, 239, 0.05);
  --chat-message-sent: #015c4b;
  --chat-message-received: #1f2c33;
  --chat-message-document: #111b21;
  --chat-message-sent-document: #025144;
  --chat-footer: #1f2c33;
  --chat-footer-blocked: #1f2c33;
  --chat-input: #2a3942;
  --emoji-picker-background: #1f2c33;
  --emoji-search: #212e35;

  /* Encryption */
  --encryption-body: #111b21;
  --encryption-code: #d1d7db;
  --encryption-btn-text: #111b21;
  --encryption-btn: #00a884;
  --encryption-btn-hover: #03cf9c;

  /* Disappearing messagew */
  --disappearing-messages-body: #111b21;

  /* Webcam */
  --webcam-header: #1f2c33;

  /* Loader */
  --loader-background: #111b21;

  /* Login */
  --login-background: #111b21;
  --login-box: #212e35;

  /* Border color */
  --border-bottom-color: #212e35;
  --border-right-color: #484d50;
  --border-left-color: #484d50;

  /* Border */
  --border-bottom: 1px solid var(--border-bottom-color);
  --border-right: 1px solid var(--border-right-color);
  --border-left: 1px solid var(--border-left-color);

  /*Text  */
  --app-background-color: #111b21;
  --primary-strong: #fff;
  --secondary-strong: #fff;
  --text-secondary: #8696a0;
  --text-muted: #3b4a54;
  --white: #fff;
}
