@import url("../styles/constants.css");

.help-header-container h3 {
  color: var(--white);
  margin-left: 25px;
  font-size: 19px;
  line-height: 23px;
  font-weight: 500;
}

.help-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--help-body);
}

.help-body p {
  text-align: center;
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 400;
}

.help-body h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-strong);
}

.help-img-container {
  margin-top: 50px;
}

.help-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  width: 300px;
  height: 300px;
  margin: auto;
  animation-name: helpImgAnimation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: steps(15);
  background-repeat: no-repeat;
  height: 258px;
  overflow: hidden;
  background-size: 1600% auto;
  /* background-image: url("../../public/assets/images/wapp-help.png"); */
}

.help-list {
  background-color: var(--help-list);
  margin-top: 30px;
}

.help-list-item {
  display: flex;
  align-items: center;
  border-bottom: var(--border-bottom);
  padding: 5px 30px;
  cursor: pointer;
}

.help-list-item:last-child {
  border-bottom: none;
}

.help-list-item:hover {
  background-color: var(--help-list-hover);
}

@keyframes helpImgAnimation {
  100% {
    background-position-x: 100%;
  }
}
