@import url("./constants.css");

.sidebar-profile-image {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--sidebar-profile-body);
}

.sidebar-profile-body {
  background-color: var(--sidebar-profile-body);
  flex: 1;
  overflow: scroll;
}

.sidebar-profile-body input {
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: var(--primary-strong);
  font-weight: 400;
  pointer-events: none;
}

.sidebar-profile-body input:focus {
  outline: none;
  pointer-events: all;
}

.sidebar-profile-name {
  background-color: var(--sidebar-profile-list);
  padding: 10px 40px;
}

.sidebar-profile-body h3 {
  color: var(--teal);
  font-weight: 500;
  font-size: 15px;
}

.sidebar-profile-name-container {
  display: flex;
  align-items: center !important;
}

.sidebar-profile-name-container.active {
  border-bottom: 2px solid var(--teal);
}

.sidebar-profile-info {
  padding: 20px 40px;
}

.sidebar-profile-info h4 {
  font-size: 14px;
  color: var(--text-secondary);
  line-height: 20px;
  font-weight: 400;
}

.sidebar-profile-about {
  background-color: var(--sidebar-background);
  padding: 10px 40px;
}

.sidebar-profile-about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-profile-about-container.active {
  border-bottom: 2px solid var(--teal);
}
