@import url("./styles/constants.css");

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: var(--app-background);
  box-shadow: var(--box-shadow);
}

.sidebar-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: var(--panel-width);
  max-width: var(--panel-width);
  /* border-right: var(--border-right); */
}

.sidebar-panel-header {
  background-color: var(--sidebar-panel-header-background);
  min-height: 13.5%;
  position: relative;
}

.sidebar-panel-header-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.sidebar-panel-header-container h3 {
  color: var(--sidebar-panel-header-text);
  margin-left: 25px;
  font-size: 19px;
  line-height: 23px;
  font-weight: 500;
}

.sidebar-panel-right {
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-panel-right-header);
  max-width: var(--panel-width);
  overflow-y: scroll;
  height: 100%;
}

.sidebar-panel-right-header {
  display: flex;
  align-items: center;
  border-left: var(--border-left);
  height: 64px;
}

.sidebar-panel-right-header h3 {
  font-size: 16px;
  color: var(--primary-strong);
  font-weight: 400;
}

.sidebar-panel-right-header p {
  color: var(--text-secondary);
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.typing-indicator {
  color: var(--teal) !important;
  font-weight: 600 !important;
}

.btn-primary {
  text-transform: uppercase;
  color: var(--communities-button-text);
  font-weight: 600;
  letter-spacing: 1.25px;
  background-color: var(--communities-button-background);
  padding: 12px 24px;
  transition: all 0.18s ease-in-out;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--communities-button-hover);
}
